* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */

.main-header{
    height: 80px;
    background-color: lightblue;
}

.mh-container{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}

.header-flex{
    display: flex;
    flex-basis: 100%;
    height: 50px;
    background-color: rgb(255, 255, 146);
}

.top-left{
    flex-basis: 15%;
    height: 50px;
    border: 2px dashed black;
}

.top-center{
    flex-basis: 70%;
    height: 50px;
    border: 2px dashed black;
}

.top-right{
    flex-basis: 15%;
    height: 50px;
    border: 2px dashed black;
}

.secondary-header{
    height: 800px;
    background-color: rgb(0, 110, 255);
}

.sh-container{
    width: 1200px;
    margin: 0 auto;
}

.sh-flex{
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.sh-content{
    flex-basis: 80%;
    height: 500px;
    background-color: rgb(128, 120, 238);
    border: 2px dashed white;
}

/* main */
.container-talk{
    height: 1000px;
}

.talk{
    width: 1200px;
    margin: 0 auto;
}

.talk-flex{
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.talk-left{
    flex-basis: 40%;
    height: 600px;
    background-color: rgb(255, 210, 127);
    border: 2px dashed black;
}

.talk-right{
    flex-basis: 60%;
    height: 600px;
    background-color: pink;
    border: 2px dashed black;
}

/* voice */
.container-voice{
    height: 1000px;
    background-color: lightgrey;
}

.voice{
    width: 1200px;
    margin: 0 auto;
}

.voice-flex{
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.voice-left{
    flex-basis: 60%;
    height: 600px;
    background-color: rgb(255, 210, 127);
    border: 2px dashed black;
}

.voice-right {
    flex-basis: 40%;
    height: 600px;
    background-color: pink;
    border: 2px dashed black;
}

/* channels */
.container-channels{
    height: 1000px;
}

.channels{
    width: 1200px;
    margin: 0 auto;
}

.channels-flex{
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.channels-left{
    flex-basis: 40%;
    height: 600px;
    background-color: rgb(255, 210, 127);
    border: 2px dashed black;
}

.channels-right{
    flex-basis: 60%;
    height: 600px;
    background-color: pink;
    border: 2px dashed black;
}

/* techno */
.techno-container{
    height: 1200px;
    background-color: lightgrey;
}

.technology{
    width: 1200px;
    margin: 0 auto;
}

.techno-flex{
    display: flex;
    height: 1200px;
    justify-content: center;
    align-items: center;
}

.techno-content{
    flex-basis: 100%;
    height: 800px;
    background-color: rgb(255, 210, 127);
    border: 2px dashed black;
}

/* footer top*/
.ft-container{
    height: 600px;
    background-color: rgb(49, 49, 49);
}

.footer-top{
    width:1200px;
    margin: 0 auto;
}

.ft-flex{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.ft-content-left{
    flex-basis: 32%;
    height: 500px;
    background-color: rgb(255, 110, 110);
    border: 2px dashed white;
}

.ft-content-prodotto{
    flex-basis: 17%;
    height: 500px;
    background-color: rgb(177, 109, 255);
    border: 2px dashed white;
}

/* footer bottom */
.fb-container{
    height: 200px;
    background-color: rgb(49, 49, 49);
}

.footer-bottom{
    width: 1200px;
    margin: 0 auto;
}

.fb-flex{
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.fb-content{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    height: 50px;
    background-color: rgb(255, 255, 146);
    border: 2px dashed black;
}

.content-left{
    flex-basis: 20%;
    height: 50px;
    background-color: rgb(118, 255, 171);
    border: 2px dashed black;
}
.content-right{
    flex-basis: 20%;
    height: 50px;
    background-color: rgb(118, 255, 171);
    border: 2px dashed black;
}