*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* first header */
.first-header{
    height: 100px;
    background-color: lightblue;
    padding: 25px;
}

.fh-flex{
    display: flex;
    width: 1200px;
    height: 50px;
    background-color: yellow;
    margin: 0 auto;
}

.fh{
    height: 50px;
    border: 2px dashed black;
}

.fh-left{
    flex-grow: 1;
}
.fh-center{
    flex-grow: 2;
}

.fh-right{
    flex-grow: 1;
}

/* second header */
.second-header{
    height: 800px;
    background-color: rgb(92, 130, 255);
    padding: 100px;
}

.sh{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    background-color: rgb(183, 106, 255);
    border: 2px dashed white;
}

/* main */
.technology{
    height: 1000px;
}

.tech-flex{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 1000px;
    justify-content: center;
    align-items: center;
}

.tech-left{
    flex-basis: 30%;
    height: 500px;
    background-color: orange;
    border: 2px dashed black;
}

.tech-right{
    flex-basis: 70%;
    height: 500px;
    background-color: pink;
    border: 2px dashed black;
}

.tech-flex-reverse{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 1000px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.grey-technology{
    height: 1000px;
    background-color: lightgrey;
}

/* footer top*/
.ft-container{
    height: 600px;
    background-color: rgb(49, 49, 49);
}

.ft-flex{
    display: flex;
    width:1200px;
    margin: 0 auto;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.ft-content-left{
    flex-basis: 32%;
    height: 500px;
    background-color: rgb(255, 110, 110);
    border: 2px dashed white;
}

.ft-content-prodotto{
    flex-basis: 17%;
    height: 500px;
    background-color: rgb(177, 109, 255);
    border: 2px dashed white;
}

/*  last technology */
.last-technology{
    height: 1400px;
    background-color: lightgrey;
    padding: 200px;
}

.big-square{
    height: 800px;
    width: 1200px;
    margin: 0 auto;
    background-color: #dca7ff;
    border: 2px dashed white;
}

.download-flex{
    display: flex;
    height: 1000px;
    justify-content: center;
    align-items: flex-end;
}

.download{
    flex-basis: 200px;
    height: 50px;
    background-color: yellow;
    border: 2px dashed black;
}

/* footer bottom */
.fb-container{
    height: 200px;
    background-color: rgb(49, 49, 49);
}

.fb-flex{
    display: flex;
    width: 1200px;
    margin: 0 auto;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.fb-content{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    height: 50px;
    background-color: rgb(255, 255, 146);
    border: 2px dashed black;
}

.content-left{
    flex-basis: 20%;
    height: 50px;
    background-color: rgb(118, 255, 171);
    border: 2px dashed black;
}
.content-right{
    flex-basis: 20%;
    height: 50px;
    background-color: rgb(118, 255, 171);
    border: 2px dashed black;
}